.success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: #e9e0f5;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(164, 106, 240, 0.25);
  font-family: Kanit, sans-serif;
  font-size: 6.1rem;
  font-weight: 600;
  line-height: normal;
  margin-top: 6.1rem;
  margin-bottom: 6.2rem;
}
